<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Wawoo ! You Start The Game</h1>
    totale data: <br><br>
    <hr> this is for loop data {% for data in mydata %} {{data} {% endfor %}




    <form action="{% url 'pred' %}">

        {% csrf_token %} No of breaks: <br><br>
        <input type="text" required name="breaks" value="{{mydata}}"> <br><br>

        <button type="submit">Submit</button>

        <br><br>

    </form>
    <a href="{% url 'pred' %}">Click Prediction...</a>
    <br><br>
</body>

</html>